<div class="scrollable-container">
  <nz-tag *ngFor="let tempUnidentifiedCityType of this.unidentifiedCityTypes"
          style="cursor: pointer"
          nzColor="volcano"
          nzTrigger="click"
          nz-dropdown
          [nzDropdownMenu]="menu2"
          #tagComponent
          (click)="this.unidentifiedCityType=tempUnidentifiedCityType; ">
    <i nz-icon nzType="fire" nzTheme="outline"></i> {{tempUnidentifiedCityType}}
  </nz-tag>

  <nz-dropdown-menu #menu2="nzDropdownMenu" [nzNoAnimation]="true">
    <ul nz-menu>
      <li nz-menu-item (click)="createNewCity(this.unidentifiedCityType)">Make new city</li>
      <li nz-menu-item nz-popover [nzPopoverOrigin]='' nzPopoverTitle="Select CityType"
          [nzPopoverContent]="contentTemplate"
          [(nzPopoverVisible)]="popoverVisible"
          nzPopoverTrigger="click" (click)="loadUniqueOriginalCityTypes()">Move to exist city
      </li>
    </ul>
  </nz-dropdown-menu>

  <ng-template #contentTemplate>
    <div>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue"
                 (ngModelChange)="onChangeNewCity()">
        <nz-option *ngFor="let cityType of this.uniqueOriginalCityTypes" nzLabel="{{cityType.title}}"
                   nzValue="{{cityType.id}}"></nz-option>
      </nz-select>
    </div>
  </ng-template>
</div>




<nz-table #basicTable [nzTotal]=objectsCount [nzData]="originalCityTypes" [nzFrontPagination]="false"
          (nzPageIndexChange)="onChangePage($event)">
  <thead>
  <tr>
    <th>City</th>
    <th>Alternative Type</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let originalCityType of basicTable.data">
    <td>{{originalCityType.title}}</td>
    <td>
      <nz-tag *ngFor="let alternativeCityType of originalCityType.alternativeCityTypes; let i = index" nzColor="green">
        {{ alternativeCityType.title }}
        <i nz-icon nzType="bug" nzTheme="twotone" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
           style="cursor: pointer"></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li (click)="deleteAltType(originalCityType,alternativeCityType)" nz-menu-item>Delete</li>
            <li (click)="createAsCity(originalCityType,alternativeCityType)" nz-menu-item>Make new city</li>
            <li (click)="makeOriginalCityType(originalCityType,alternativeCityType)" nz-menu-item>Mark as correct type
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-tag>
    </td>
    <td>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteOriginalCityType(originalCityType)"
         style="cursor: pointer"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
