<div class="scrollable-container">
  <nz-tag *ngFor="let tempUnidentifiedStreetType of this.unidentifiedStreetTypes"
          style="cursor: pointer"
          nzColor="volcano"
          nzTrigger="click"
          nz-dropdown
          [nzDropdownMenu]="menu2"
          #tagComponent
          (click)="this.unidentifiedStreetType=tempUnidentifiedStreetType; ">
    <i nz-icon nzType="fire" nzTheme="outline"></i> {{tempUnidentifiedStreetType}}
  </nz-tag>

  <nz-dropdown-menu #menu2="nzDropdownMenu" [nzNoAnimation]="true">
    <ul nz-menu>
      <li nz-menu-item (click)="createNewStreet(this.unidentifiedStreetType)">Make new street</li>
      <li nz-menu-item nz-popover [nzPopoverOrigin]='' nzPopoverTitle="Select StreetType"
          [nzPopoverContent]="contentTemplate"
          [(nzPopoverVisible)]="popoverVisible"
          nzPopoverTrigger="click" (click)="loadUniqueOriginalStreetTypes()">Move to exist street
      </li>
    </ul>
  </nz-dropdown-menu>

  <ng-template #contentTemplate>
    <div>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue"
                 (ngModelChange)="onChangeNewStreet()">
        <nz-option *ngFor="let streetType of this.uniqueOriginalStreetTypes" nzLabel="{{streetType.title}}"
                   nzValue="{{streetType.id}}"></nz-option>
      </nz-select>
    </div>
  </ng-template>
</div>




<nz-table #basicTable [nzTotal]=objectsCount [nzData]="originalStreetTypes" [nzFrontPagination]="false"
          (nzPageIndexChange)="onChangePage($event)">
  <thead>
  <tr>
    <th>Street</th>
    <th>Alternative Type</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let originalStreetType of basicTable.data">
    <td>{{originalStreetType.title}}</td>
    <td>
      <nz-tag *ngFor="let alternativeStreetType of originalStreetType.alternativeStreetTypes; let i = index" nzColor="green">
        {{ alternativeStreetType.title }}
        <i nz-icon nzType="bug" nzTheme="twotone" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
           style="cursor: pointer"></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li (click)="deleteAltType(originalStreetType,alternativeStreetType)" nz-menu-item>Delete</li>
            <li (click)="createAsStreet(originalStreetType,alternativeStreetType)" nz-menu-item>Make new street</li>
            <li (click)="makeOriginalStreetType(originalStreetType,alternativeStreetType)" nz-menu-item>Mark as correct type
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-tag>
    </td>
    <td>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteOriginalStreetType(originalStreetType)"
         style="cursor: pointer"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
