<nz-layout>
  <nz-header>
    <div class="logo"></div>

  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <ul>
          <li nz-menu-item nzSelected>Addresses</li>
        </ul>
        <li nz-submenu nzTitle="Dictionary" nzIcon="laptop">
          <ul>
            <li nz-menu-item>Cities</li>
            <li nz-menu-item>Streets</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Addresses</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <app-city-dictionary></app-city-dictionary>
<!--        <app-adress-viewer></app-adress-viewer>-->
       </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
