<nz-table #basicTable [nzTotal]=addressCount [nzData]="listOfData" [nzFrontPagination]="false"
          (nzPageIndexChange)="changePage($event)">
  <thead>
  <tr>
    <th>id</th>
    <th>Post Code</th>
    <th>District</th>
    <th>City type</th>
    <th>City</th>
    <th>Street type</th>
    <th>Street</th>
    <th>House</th>
    <th>Flat</th>
    <th>Statut Adresa</th>
    <th>Phone Number</th>
    <th>Statut Telefon</th>
    <th>Proprietar Telefon</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.id}}</td>
    <td>{{data.postCode}}</td>
    <td>{{data.distric}}</td>
    <td>{{data.typeCity}}</td>
    <td>{{data.city}}</td>
    <td>{{data.typeStreet}}</td>
    <td>{{data.street}}</td>
    <td>{{data.house}}</td>
    <td>{{data.flat}}</td>
    <td>{{data.statutADRESA}}</td>
    <td>{{data.phoneNumber}}</td>
    <td>{{data.statuttelefon}}</td>
    <td>{{data.proprietartelefon}}</td>
  </tr>
  </tbody>
</nz-table>
