<nz-table #basicTable [nzTotal]=addressCount [nzData]="listOfData" [nzFrontPagination]="false"
          (nzPageIndexChange)="changePageFix($event,true)" [(nzPageIndex)]="pageNumber" [nzLoading]="loading">
  <thead>
  <tr>
    <th>id
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="0" #inputId nz-input
                                                                                       [(ngModel)]="filter_id"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Post Code
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="1" #inputPostCode nz-input
                                                                                       [(ngModel)]="filter_post_Code"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>District
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="2" #inputDistrict nz-input
                                                                                       [(ngModel)]="filter_district"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>City type
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="3" #inputCityType nz-input
                                                                                       [(ngModel)]="filter_correct_City_Type"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>City
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="4" #inputCityName nz-input
                                                                                       [(ngModel)]="filter_correct_City_Name"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Street type
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="5" #inputStreetType nz-input
                                                                                       [(ngModel)]="filter_correct_Street_Type"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Street
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="6" #inputStreetName nz-input
                                                                                       [(ngModel)]="filter_correct_Street_Name"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>House
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="7" #inputHouse nz-input
                                                                                       [(ngModel)]="filter_house"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Flat
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="8" #inputFlat nz-input
                                                                                       [(ngModel)]="filter_flat"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       (blur)="changePage(1)"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Statut Adresa
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="9" #inputStatutAdresa
                                                                                       nz-input
                                                                                       [(ngModel)]="filter_statut_Adresa"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Phone Number
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="10" #inputPhoneNumber
                                                                                       nz-input
                                                                                       [(ngModel)]="filter_phone_Number"
                                                                                       (blur)="changePage(1)"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Statut Telefon
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="11" #inputStatutTelefon
                                                                                       nz-input
                                                                                       [(ngModel)]="filter_statut_Telefon"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Proprietar Telefon
      <div><i style="width: 20%;" nz-icon nzType="filter" nzTheme="outline"></i><input id="12" #inputProprietarTelefon
                                                                                       nz-input
                                                                                       [(ngModel)]="filter_proprietar_Telefon"
                                                                                       (ngModelChange)="this.changed=true"
                                                                                       (blur)="changePage(1)"
                                                                                       (keydown.enter)="changePage(1)"
                                                                                       type="text"
                                                                                       style="width: 80%; "/></div>
    </th>
    <th>Actions
      <div style="margin-bottom: 52px"></div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.id}}</td>
    <td>{{data.post_Code}}</td>
    <td>{{data.district}}</td>
    <td>{{data.typeCity}}
      <div style="color: red"
           *ngIf="data.correct_City_Type!=null   && data.correct_City_Type!='' && data.correct_City_Type != data.typeCity">
        ({{data.correct_City_Type}})
      </div>
    </td>
    <td>{{data.city}}
      <div style="color: red"
           *ngIf="data.correct_City_Name!=null   && data.correct_City_Name!='' && data.correct_City_Name != data.city">
        ({{data.correct_City_Name}})
      </div>
    </td>
    <td>{{data.typeStreet}}
      <div style="color: red"
           *ngIf="data.correct_Street_Type!=null && data.correct_Street_Type!='' && data.correct_Street_Type != data.typeStreet">
        ({{data.correct_Street_Type}})
      </div>
    </td>
    <td>{{data.street}}
      <div style="color: red"
           *ngIf="data.correct_Street_Name!=null && data.correct_Street_Name!='' && data.correct_Street_Name != data.street">
        ({{data.correct_Street_Name}})
      </div>
    </td>
    <td>{{data.house}}</td>
    <td>{{data.flat}}</td>
    <td>{{data.statut_Adresa}}</td>
    <td>{{data.phone_Number}}</td>
    <td>{{data.statut_Telefon}}</td>
    <td>{{data.proprietar_Telefon}}</td>
    <td>
      <i nz-icon nzType="edit" nzTheme="twotone" style="cursor: pointer; font-size: 18px;" (click)="edit(data)"></i>
      <i nz-icon nzType="database" nzTheme="twotone" style="cursor: pointer; font-size: 18px; margin-left: 6px;"
         (click)="backup(data)"></i>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Address Info" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent style="display: flex">
    <div style="display: flex">
      <h4>ID</h4>
      <input nz-input class="modalInput" [disabled]="true" [(ngModel)]="modalData.id"/>
    </div>
    <div style="display: flex">
      <h4>Post Code</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.post_Code"/>
    </div>
    <div style="display: flex">
      <h4>District</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.district"/>
    </div>
    <div style="display: flex">
      <h4>City Type</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.correct_City_Type"/>
    </div>
    <div style="display: flex">
      <h4>City</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.city"/>
    </div>
    <div style="display: flex">
      <h4>Street Type</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.correct_Street_Type"/>
    </div>
    <div style="display: flex">
      <h4>Street</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.street"/>
    </div>
    <div style="display: flex">
      <h4>House</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.house"/>
    </div>
    <div style="display: flex">
      <h4>Flat</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.flat"/>
    </div>
    <div style="display: flex">
      <h4>Statut Adresa</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.statut_Adresa"/>
    </div>
    <div style="display: flex">
      <h4>Phone Number</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.phone_Number"/>
    </div>
    <div style="display: flex">
      <h4>Statut Telefon</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.statut_Telefon"/>
    </div>
    <div style="display: flex">
      <h4>Proprietar Telefon</h4>
      <input nz-input class="modalInput" [(ngModel)]="modalData.proprietar_Telefon"/>
    </div>
  </ng-container>
</nz-modal>
