<div class="scrollable-container">
  <nz-tag *ngFor="let tempUnidentifiedCityName of this.unidentifiedCityNames"
          style="cursor: pointer"
          nzColor="volcano"
          nzTrigger="click"
          nz-dropdown
          [nzDropdownMenu]="menu2"
          #tagComponent
          (click)="this.unidentifiedCityName=tempUnidentifiedCityName; ">
    <i nz-icon nzType="fire" nzTheme="outline"></i> {{tempUnidentifiedCityName}}
  </nz-tag>

  <nz-dropdown-menu #menu2="nzDropdownMenu" [nzNoAnimation]="true">
    <ul nz-menu>
      <li nz-menu-item (click)="createNewCity(this.unidentifiedCityName)">Make new city</li>
      <li nz-menu-item nz-popover [nzPopoverOrigin]='' nzPopoverTitle="Select CityName"
          [nzPopoverContent]="contentTemplate"
          [(nzPopoverVisible)]="popoverVisible"
          nzPopoverTrigger="click" (click)="loadUniqueOriginalCityNames()">Move to exist city
      </li>
    </ul>
  </nz-dropdown-menu>

  <ng-template #contentTemplate>
    <div>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue"
                 (ngModelChange)="onChangeNewCity()">
        <nz-option *ngFor="let cityName of this.uniqueOriginalCityNames" nzLabel="{{cityName.title}}"
                   nzValue="{{cityName.id}}"></nz-option>
      </nz-select>
    </div>
  </ng-template>
</div>
<nz-spin style="position: fixed; top: 17%; left: 50%;" *ngIf="loading" [nzSize]="'large'" nzSimple></nz-spin>



<nz-table #basicTable [nzTotal]=objectsCount [nzData]="originalCityNames" [nzFrontPagination]="false"
          (nzPageIndexChange)="onChangePage($event)">
  <thead>
  <tr>
    <th>City</th>
    <th>Alternative Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let originalCityName of basicTable.data">
    <td>{{originalCityName.title}}</td>
    <td>
      <nz-tag *ngFor="let alternativeCityName of originalCityName.alternativeCityNames; let i = index" nzColor="green">
        {{ alternativeCityName.title }}
        <i nz-icon nzType="bug" nzTheme="twotone" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
           style="cursor: pointer"></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li (click)="deleteAltName(originalCityName,alternativeCityName)" nz-menu-item>Delete</li>
            <li (click)="createAsCity(originalCityName,alternativeCityName)" nz-menu-item>Make new city</li>
            <li (click)="makeOriginalCityName(originalCityName,alternativeCityName)" nz-menu-item>Mark as correct name
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-tag>
    </td>
    <td>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteOriginalCityName(originalCityName)"
         style="cursor: pointer"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
