<nz-table #basicTable [nzTotal]=objectsCount [nzData]="originalCityNames" [nzFrontPagination]="false"
          (nzPageIndexChange)="changePage($event)">
  <thead>
  <tr>
    <th>City</th>
    <th>Alternative Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let originalCityName of basicTable.data">
    <td>{{originalCityName.title}}</td>
    <td>
      <nz-tag *ngFor="let alternativeCityName of originalCityName.alternativeCityNames; let i = index">
        {{ alternativeCityName.title }}
        <i nz-icon nzType="bug" nzTheme="twotone" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
           style="cursor: pointer"></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li (click)="deleteAltName(originalCityName,alternativeCityName)" nz-menu-item>Delete</li>
            <li (click)="createAsCity(originalCityName,alternativeCityName)" nz-menu-item>Make new city</li>
            <li (click)="makeOriginalCityName(originalCityName,alternativeCityName)" nz-menu-item>Mark as correct name</li>
          </ul>
        </nz-dropdown-menu>
      </nz-tag>
      <br/>
      <input
        id="addNewAlternativeCityNameId"
        *ngIf="originalCityName.visibleInputNewName"
        #inputElement
        nz-input
        type="text"
        [(ngModel)]="inputValue"
        style="width: 78px; "
        (blur)="handleInputEscape(originalCityName)"
        (keydown.enter)="addNewAlternativeCityName(originalCityName)"
        (keydown.escape)="handleInputEscape(originalCityName)"
      />
      <nz-tag *ngIf="!originalCityName.visibleInputNewName" class="editable-tag" #tag nzNoAnimation
              (click)="showInputNewAlternativeCityName(originalCityName );"
              style="cursor: pointer"
              nzColor="blue">
        <i nz-icon nzType="plus"></i>
        Add new
      </nz-tag>

    </td>
    <td>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteOriginalCityName(originalCityName)" style="cursor: pointer"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
