<div class="scrollable-container">
  <nz-tag *ngFor="let tempUnidentifiedStreetName of this.unidentifiedStreetNames"
          style="cursor: pointer"
          nzColor="volcano"
          nzTrigger="click"
          nz-dropdown
          [nzDropdownMenu]="menu2"
          #tagComponent
          (click)="this.unidentifiedStreetName=tempUnidentifiedStreetName; ">
    <i nz-icon nzType="fire" nzTheme="outline"></i> {{tempUnidentifiedStreetName}}
  </nz-tag>

  <nz-dropdown-menu #menu2="nzDropdownMenu" [nzNoAnimation]="true">
    <ul nz-menu>
      <li nz-menu-item (click)="createNewStreet(this.unidentifiedStreetName)">Make new street</li>
      <li nz-menu-item nz-popover [nzPopoverOrigin]='' nzPopoverTitle="Select StreetName"
          [nzPopoverContent]="contentTemplate"
          [(nzPopoverVisible)]="popoverVisible"
          nzPopoverTrigger="click" (click)="loadUniqueOriginalStreetNames()">Move to exist street
      </li>
    </ul>
  </nz-dropdown-menu>

  <ng-template #contentTemplate>
    <div>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue"
                 (ngModelChange)="onChangeNewStreet()">
        <nz-option *ngFor="let streetName of this.uniqueOriginalStreetNames" nzLabel="{{streetName.title}}"
                   nzValue="{{streetName.id}}"></nz-option>
      </nz-select>
    </div>
  </ng-template>
</div>




<nz-table #basicTable [nzTotal]=objectsCount [nzData]="originalStreetNames" [nzFrontPagination]="false"
          (nzPageIndexChange)="onChangePage($event)">
  <thead>
  <tr>
    <th>Street</th>
    <th>Alternative Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let originalStreetName of basicTable.data">
    <td>{{originalStreetName.title}}</td>
    <td>
      <nz-tag *ngFor="let alternativeStreetName of originalStreetName.alternativeStreetNames; let i = index" nzColor="green">
        {{ alternativeStreetName.title }}
        <i nz-icon nzType="bug" nzTheme="twotone" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
           style="cursor: pointer"></i>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li (click)="deleteAltName(originalStreetName,alternativeStreetName)" nz-menu-item>Delete</li>
            <li (click)="createAsStreet(originalStreetName,alternativeStreetName)" nz-menu-item>Make new street</li>
            <li (click)="makeOriginalStreetName(originalStreetName,alternativeStreetName)" nz-menu-item>Mark as correct name
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-tag>
    </td>
    <td>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteOriginalStreetName(originalStreetName)"
         style="cursor: pointer"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
